/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
    background-color: #131313 !important;
    color: white;
}

p {
  line-height: 2rem;
  color: #fff;
  font-family: 'Nobile', sans-serif;
  font-style: normal;

}

.hidethis {
  display: none;
}


.mapSize {
  width: 100%;
  height: 300px;
}

.ticketlink {
  color: #e46e05;
  text-decoration-line: underline;    

}

.ticketlink:hover {
    opacity: 0.5;
}


nav {
    color: #fff;
    background-color: #131313 !important;
    font-family: 'Comfortaa', cursive;
    font-style: normal;
    font-weight: 300;
}

.brand-logo {
    margin-left: 5px;
}

/*CSS FOR SINGLE PAGE*/

h2 {
   font-family: 'Comfortaa', cursive;
   font-style: normal;
   padding-top: 180px;
}

h4 {
   color: #fff;
   font-family: 'Comfortaa', cursive;
   font-style: normal;
   font-weight: 300;
}






/* CSS FOR INPUT FORM */

.input-form a {
background-color: #280d1f !important;
}

.input-form a:active,
 .input-form a:hover {
  outline: 0;
  background-color: #e46e05 !important;
}

nav li:active,
nav li:hover {
  outline: 0;
  background-color: #e46e05 !important;
}

.brand-logo {

}

.wrap {
  margin-top: 20px;
  text-align: center;
}

.button {
  display: inline-block;
  margin: 0.3em;
  padding: 1.5em 5em;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  box-shadow: 0 2px 10px rgba(0,0,0,0.5);
  border: none;
  font-size: 15px;
  text-align: center;
}


.button:hover {
  box-shadow: 1px 6px 15px rgba(0,0,0,0.5);
}


.red {
    color: white;
}


.button-collapse {
  color: #e46e05 ;
}

#profile {
  outline: 0;
  background-color: #280d1f !important; 
}


#profile:active,
#profile:hover {
  outline: 0;
  background-color: #e46e05 !important;  
}

#status{
    color:green;
}

#add-event {
  outline: 0;
  background-color: #280d1f !important;

}



#add-event:active,
#add-event:hover {
  outline: 0;
  background-color: #e46e05 !important;
}


/* CSS for parallax banner */

.parallax-container #video-background {
    width: 100%;
}



.parallax-container {
  min-height: 880px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

.info-container {
  color: white;
  width: 80%;
  margin: 0 auto;
  display: none;
}

.info-container span {
    font-size: 1.2em;
    font-weight: bold;
  }

.date {
  display: block;
}

.progress {
  display: none;
}

/* CSS FOR INPUT FORM */

#search {
  width: 50%;

}

#artist-search {
  width: 30%;
  padding: 0 0.3em;
  margin: 0 auto;
  margin: 20px;
  background: white;
  color: black;

}


#location {
  width: 30%;
  padding: 0 0.3em;
  margin: 20px;
  background: white;
  color: black;
  display: inline;

}



#city-input {
  margin-bottom: 10%;
}

.error {
  font-size: 1em;
  color: red;
  display: none;
}

.input-form {
  width: 100%;
  margin-bottom: 100px;

}

input:focus {
  border-bottom: none!important;
  box-shadow: none!important;
}




/* FOOTER CSS */

.page-footer {
  padding-top: 20px;
  color: #fff;
  background-color: #131313 !important;
}
.page-footer .footer-copyright {
  overflow: hidden;
  min-height: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(51, 51, 51, 0.08);
  text-align: center;
}


.page-footer a {
    text-align: center;
    font-size: 2.0em;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
    padding-left: 55px;

}

#map {
  height: 400px;
  width: 100%;

}

.logo {
  padding: 15px;
}


/* login page */




@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}




@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
    
 .brand-logo {
    height: inherit;
}

}




.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#hamburger {
  color: white;
}

/*CSS for profile page*/
#profile_welcome {
  padding: 0px;
}

/* label underline focus color */
.input-field input:focus {
 border-bottom: 1px solid #fff;
 box-shadow: 0 1px 0 0 #fff;
}

<<<<<<< HEAD
=======


>>>>>>> 6308bc76fccf22cdf6cfb57436c09937bc907c35
